@charset "UTF-8";
body {
  margin: 0px;
}

form {
  width: 100%;
  height: 50px;
  background-color: #e9eaec;
  text-align: center;
  -webkit-box-shadow: inset 5px 15px 5px -12px #cdcdcf;
  box-shadow: inset 5px 15px 5px -12px #cdcdcf;
}
form input {
  border: none;
  background-color: #e9eaec;
  height: 30px;
  position: relative;
  top: 10px;
  left: 20px;
  padding-left: 10px;
  font-weight: bold;
  font-size: 16px;
  font-family: Roboto;
}
form i {
  position: relative;
  top: 8px;
  left: 20px;
}

.intro {
  width: 100%;
  font-family: Roboto;
  text-align: center;
  background-color: #f5f5f8;
  padding-top: 15px;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
.intro h1 {
  font-size: 25px;
  margin: 20px 20px 20px 20px;
}
.intro p {
  margin: 10px 10px 10px 10px;
}

.funct {
  padding-bottom: 40px;
}
@media (min-width: 1025px) {
  .funct {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}
.funct h1 {
  padding-left: 20px;
  font-family: Roboto;
  font-size: 25px;
}
@media (min-width: 1025px) {
  .funct h1 {
    width: 100%;
  }
}

.step {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
@media (min-width: 1025px) {
  .step {
    width: 30%;
    margin-top: 15px;
    margin-bottom: 20px;
  }
}
.step .number {
  background-color: #9356DC;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  position: relative;
  top: 22px;
  left: 9px;
  font-family: Roboto;
  color: white;
  font-size: 15px;
  text-indent: 3px;
}
@media (min-width: 561px) and (max-width: 1024px) {
  .step .number {
    margin-left: 20%;
    width: 22px;
    height: 20px;
    padding-top: 2px;
    padding-left: 1px;
  }
}

.link {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.link :hover {
  background-color: #e4d5f6;
}
.link :hover i {
  color: #9356DC;
}
.link a {
  width: 90%;
  text-decoration: none;
  color: black;
  font-family: Roboto;
  font-weight: bold;
  background-color: #f5f5f8;
  margin-bottom: 20px;
  padding-left: 15%;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 20px 20px 20px 20px;
  -webkit-box-shadow: -1px 5px 5px 3px #e8e8e8;
  box-shadow: -1px 5px 5px 3px #e8e8e8;
}
@media (min-width: 561px) and (max-width: 1024px) {
  .link a {
    width: 70%;
    padding-left: 20%;
    font-size: 20px;
  }
}
.link i {
  color: grey;
  padding-right: 5%;
}
@media (min-width: 561px) and (max-width: 1024px) {
  .link i {
    padding-right: 10%;
  }
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #f5f5f8;
  width: 100%;
}
section h2 {
  font-family: Roboto;
  font-size: 25px;
  margin-left: 20px;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
section .vignets {
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: -1px 5px 5px 3px #e8e8e8;
  box-shadow: -1px 5px 5px 3px #e8e8e8;
  width: 90%;
  height: 220px;
  margin-left: 5%;
}
@media (min-width: 561px) and (max-width: 1024px) {
  section .vignets {
    width: 80%;
    height: 300px;
    margin-left: 10%;
  }
}
@media (min-width: 1025px) {
  section .vignets {
    width: 80%;
    height: 350px;
    margin-left: 10%;
  }
}
section .vignets img {
  width: 100%;
  height: 150px;
  border-radius: 10px 10px 0px 0px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (min-width: 561px) and (max-width: 1024px) {
  section .vignets img {
    height: 200px;
  }
}
@media (min-width: 1025px) {
  section .vignets img {
    height: 250px;
  }
}
section .vignets em {
  width: 70%;
  padding: 0px;
  margin: 0px;
  font-style: normal;
  float: left;
  padding-left: 10px;
  padding-top: 15px;
}
@media (min-width: 561px) and (max-width: 1024px) {
  section .vignets em {
    font-size: 18px;
  }
}
section .vignets .rest {
  text-decoration: none;
  color: black;
  font-family: Roboto;
}
section .new {
  color: #278870;
  font-family: Roboto;
  font-size: 15px;
  font-weight: bold;
  background-color: #99E2D0;
  width: 55px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 12px;
  margin-left: 6%;
  position: relative;
  left: 65%;
  top: 40px;
}
@media (min-width: 561px) and (max-width: 1024px) {
  section .new {
    margin-left: 10%;
  }
}
@media (min-width: 1025px) {
  section .new {
    margin-left: 15%;
  }
}
section i {
  position: relative;
  left: 80%;
  bottom: 50px;
}
section .fa-heart {
  font-size: 27px;
  width: 15%;
  background-color: transparent;
}

footer {
  background-color: #3d3e41;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
}
footer ul {
  padding-left: 20px;
}
@media (min-width: 561px) and (max-width: 1024px) {
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-between;
    padding-left: 30%;
  }
}
@media (min-width: 1025px) {
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-between;
    width: 80%;
  }
}
footer img {
  -webkit-filter: invert(200%);
  filter: invert(200%);
  padding-bottom: 10px;
  width: 35%;
  font-size: 10px;
}
@media (min-width: 561px) and (max-width: 1024px) {
  footer img {
    width: 50%;
    padding-right: 30%;
    padding-bottom: 40px;
  }
}
@media (min-width: 1025px) {
  footer img {
    width: 80%;
  }
}
footer li {
  font-family: Roboto;
  list-style: none;
  color: white;
  margin-bottom: 5px;
}
@media (min-width: 561px) and (max-width: 1024px) {
  footer li {
    padding-bottom: 10px;
  }
}
@media (min-width: 1025px) {
  footer li {
    padding-bottom: 20px;
  }
}
footer a {
  color: white;
  text-decoration: none;
}
footer i {
  font-size: 12px;
  width: 5px;
  padding-right: 12px;
}
@media (min-width: 1025px) {
  footer i {
    font-size: 20px;
    padding-right: 20px;
  }
}

header {
  margin: 0px;
}
header img {
  width: 50%;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 23%;
  -o-object-fit: contain;
  object-fit: contain;
}
@media (min-width: 1025px) {
  header {
    width: 65%;
    margin-left: 18%;
  }
}

@font-face {
  font-family: Shrikhand;
  src: url("police/Shrikhand-Regular.ttf") format("Truetype");
  src: url("police/Shrikhand-Regular.otf") format("OpenType");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url("police/Roboto-Regular.ttf") format("Truetype");
  font-weight: normal;
  font-style: normal;
}
section i {
  font-size: 22px;
  border: none;
  background: white;
}
section .fa-heart {
  color: #FFF;
  color: grey;
}
section .fa-heart::before {
  content: "";
  font-weight: normal;
  -webkit-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
}
section .fa-heart:hover::before {
  font-weight: bold;
  background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), to(#9356DC));
  background: -o-linear-gradient(bottom, #FF79DA, #9356DC);
  background: linear-gradient(to top, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
}

.loader {
  position: absolute;
  margin: 0;
  padding-left: 50%;
  width: 50%;
  height: 100vh;
  background-color: white;
  opacity: 1;
  -webkit-animation-name: loader2;
  animation-name: loader2;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@media (min-width: 561px) and (max-width: 1024px) {
  .loader {
    width: 50%;
  }
}
@media (min-width: 1025px) {
  .loader {
    width: 50%;
  }
}

@keyframes loader2 {
  0% {
    opacity: 1;
    z-index: 1000;
  }
  10% {
    opacity: 1;
    z-index: 1000;
  }
  50% {
    opacity: 1;
    z-index: 1000;
  }
  80% {
    opacity: 0.8;
    z-index: 1000;
  }
  90% {
    opacity: 0.4;
    z-index: 1000;
  }
  100% {
    opacity: 0;
    z-index: -1000;
  }
}
.custom-loader {
  position: absolute;
  left: 35%;
  top: 30%;
  cursor: progress;
  background: -o-radial-gradient(closest-side, #99E2D0, #9356DC, #fff);
  background: radial-gradient(closest-side, #99E2D0, #9356DC, #fff);
  border: 10px solid #9356DC;
  border-top: 10px solid #FF79DA;
  -o-border-image: -o-linear-gradient(#9356DC, #FF79DA) 30;
  border-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA)) 30;
  border-image: linear-gradient(#9356DC, #FF79DA) 30;
  width: 130px;
  height: 130px;
  opacity: 1;
  -webkit-animation-name: custom-loader1;
  animation-name: custom-loader1;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@media (min-width: 561px) and (max-width: 1024px) {
  .custom-loader {
    margin-left: 12%;
  }
}
@media (min-width: 1025px) {
  .custom-loader {
    margin-left: 15%;
  }
}

@keyframes custom-loader1 {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
    background-color: white;
  }
  10% {
    transform: rotate(15deg) scale(1);
    opacity: 1;
  }
  50% {
    transform: rotate(-180deg) scale(1.4);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(-360deg) scale(1);
  }
}
.btn {
  font-size: 15px;
  font-family: Roboto;
  padding: 15px;
  margin: 20px;
  border-radius: 25px 25px 25px 25px;
  background-image: linear-gradient(-80deg, #FF79DA, #9356DC);
  background-image: -o-linear-gradient(-80deg, #FF79DA, #9356DC);
  background-image: -webkit-linear-gradient(-80deg, #FF79DA, #9356DC);
  background-image: -moz-linear-gradient(-80deg, #FF79DA, #9356DC);
  border: none;
  color: white;
  -webkit-box-shadow: -1px 5px 5px 3px #e8e8e8;
  box-shadow: -1px 5px 5px 3px #e8e8e8;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  -o-transition: transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
@media (min-width: 561px) and (max-width: 1024px) {
  .btn {
    height: 60px;
    font-size: 20px;
  }
}
@media (min-width: 1025px) {
  .btn {
    height: 60px;
    font-size: 20px;
  }
}
.btn:hover {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  opacity: 0.8;
  -webkit-box-shadow: -1px 5px 5px 3px #c2c2c2;
  box-shadow: -1px 5px 5px 3px #c2c2c2;
}

/*# sourceMappingURL=style.css.map */
