footer{
background-color:#3d3e41;
width:100%;
padding-top:10px;
padding-bottom:20px;

& ul{
  padding-left:20px;

@media (min-width:561px)and(max-width:1024px){
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-orient:horizontal;
-webkit-box-direction:normal;
    -ms-flex-direction:column;
        flex-direction:column;
-ms-flex-wrap:wrap;
    flex-wrap:wrap;
-ms-flex-pack:distribute;
    justify-content:space-between;
    padding-left:30%;
}

@media (min-width:1025px){
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-orient:horizontal;
-webkit-box-direction:normal;
    -ms-flex-direction:row;
        flex-direction:row;
-ms-flex-wrap:wrap;
    flex-wrap:wrap;
-ms-flex-pack:distribute;
    justify-content:space-between;
width:80%;    
}

}

& img{
  -webkit-filter:invert(200%);
  filter:invert(200%);
  padding-bottom:10px;
  width:35%;
  font-size:10px;

  @media (min-width:561px)and(max-width:1024px){
  width:50%;
  padding-right:30%;
  padding-bottom:40px;
  }

  @media (min-width:1025px){
  width:80%;
  }
  }
  
& li{
  font-family:Roboto;
  list-style:none;
  color:white;
  margin-bottom:5px;

  @media (min-width:561px)and(max-width:1024px){
  padding-bottom:10px;
  }

  @media (min-width:1025px){
  padding-bottom:20px;
  }

    & address{
    font-family:Roboto;
    text-decoration:none;
    font-style:normal;
    color:white;
    margin-bottom:5px;

  @media (min-width:561px)and(max-width:1024px){
  padding-bottom:10px;
  }

  @media (min-width:1025px){
  padding-bottom:20px;
  }
  }
  }



& a{
  color:white;
  text-decoration:none;
  }

& i{
  font-size: 12px;
  width:5px;
  padding-right: 12px;

  @media (min-width:1025px){
  font-size:20px;
  padding-right:20px;
  }
}

}