.container{

  & .progress{

    & .marge-progress{
    transform:scaleX(0);
    transition:transform 400ms;
    }

    & .fas {
    display:none;
    }
  }

  & .progress-1{
  display:none;

    & .marge-progress{
    transform:scaleX(0);
    transition:transform 400ms;
    }

    & .fas {
    display:none;
    }

    & .extent{
    display:none;
    }
  }

  &:hover{
  
  & .price{
  background-color:white;
  -webkit-animation-name:price;
  animation-name:price;
  -webkit-animation-duration:200ms;
  animation-duration:200ms;
  -webkit-animation-delay:30ms;
  animation-delay:30ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;

  @media (min-width:400px) and (max-width:560px){
  position:relative;
  right:10%;
  }
  }

  & .extent{
  display:flex;
  background-color:white;
  -webkit-animation-name:price;
  animation-name:extent;
  -webkit-animation-duration:300ms;
  animation-duration:300ms;
  -webkit-animation-delay:60ms;
  animation-delay:60ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;

  @media (min-width:396px) and (max-width:560px){
  display:none;
  }
  }

  & .progress{
  display:flex;

    & .marge-progress{
    width:25%;
    height:71px;
    position:relative;
    left:75%;
    bottom:57px;
    border-radius: 0px 15px 15px 0px;
    transform-origin:right;
    background-color:$color-thd;
    transform:scaleX(1);
    }

    & .fas{
    display:flex;
    position:relative;
    bottom:35px;
    left:58%;
    height:12px;
    font-size:12px;
    color:$color-thd;
    background-color:white;
    padding:5px;
    border-radius:50%;
    animation-name:icone;
    animation-duration:500ms;
    animation-delay:100ms;
    animation-fill-mode: forwards;
    opacity:0;
    }
  }

  & .progress-1{
  display:flex;

    & .marge-progress{
    width:25%;
    height:76px;
    position:relative;
    left:90%;
    bottom:98px;
    border-radius: 0px 15px 15px 0px;
    transform-origin:right;
    background-color:$color-thd;
    transform:scaleX(1);
    }

    & .fas{
    display:flex;
    position:relative;
    bottom:70px;
    left:70%;
    height:12px;
    font-size:12px;
    color:$color-thd;
    background-color:white;
    padding:5px;
    border-radius:50%;
    animation-name:icone;
    animation-duration:500ms;
    animation-delay:100ms;
    animation-fill-mode: forwards;
    opacity:0;
    }
  }

  }
}

@keyframes icone{

0%{
opacity:0;
transform: translateX(40px) rotate(-360deg);
  }

100%{
transform: translateX(0px);
opacity:1;
}
}

@keyframes price{

0%{
-webkit-transform:translate(0px,0px);
-ms-transform:translate(0px,0px);
transform:translate(0px,0px);
}
100%{
-webkit-transform:translate(-60px,0px);
-ms-transform:translate(-60px,0px);
transform:translate(-60px,0px);
}
}

@keyframes extent{

0%{
opacity:0;
-webkit-transform:translate(0px,0px);
-ms-transform:translate(0px,0px);
transform:translate(0px,0px);
}
70%{
opacity:0;
}
100%{
opacity:1;
-webkit-transform:translate(-60px,0px);
-ms-transform:translate(-60px,0px);
transform:translate(-60px,0px);
}
}

/*container plus haut*/

.container-1{

  & .progress{

    & .marge-progress{
    transform:scaleX(0);
    transition:transform 400ms;
    }

    & .fas {
    display:none;
    }
  }

  & .progress-1{

    & .marge-progress{
    transform:scaleX(0);
    transition:transform 400ms;
    }

    & .fas {
    display:none;
    }
  }

  & .progress-2{

    & .marge-progress{
    transform:scaleX(0);
    transition:transform 400ms;
    }

    & .fas {
    display:none;
    }
  }

  &:hover{
  
  & .price{
  background-color:white;
  -webkit-animation-name:price;
  animation-name:price;
  -webkit-animation-duration:200ms;
  animation-duration:200ms;
  -webkit-animation-delay:30ms;
  animation-delay:30ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  padding-right:10%;

  @media (min-width:400px) and (max-width:560px){
  position:relative;
  right:10%;
  }
  }

  & .extent{
  display:flex;
  background-color:white;
  -webkit-animation-name:price;
  animation-name:extent;
  -webkit-animation-duration:300ms;
  animation-duration:300ms;
  -webkit-animation-delay:60ms;
  animation-delay:60ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  }

  & .progress{
  display:flex;

    & .marge-progress{
    width:32%;
    height:76px;
    position:relative;
    left:94%;
    bottom:90px;
    border-radius: 0px 15px 15px 0px;
    transform-origin:right;
    background-color:$color-thd;
    transform:scaleX(1);

    @media (min-width:331px) and (max-width:357px){
    width:33%;
    position:relative;
    left:92%;
    }

    @media (min-width:358px) and (max-width:378px){
    position:relative;
    left:93%;
    }

    @media (min-width:379px) and (max-width:400px){
    width:32%;
    position:relative;
    left:91.5%;
    }

    @media (min-width:401px) and (max-width:420px){
    width:31%;
    position:relative;
    left:91.5%;
    }

    @media (min-width:421px) and (max-width:431px){
    width:31%;
    position:relative;
    left:92%;
    }

    @media (min-width:432px) and (max-width:444px){
    width:30%;
    position:relative;
    left:91.5%;
    }

    @media (min-width:445px) and (max-width:480px){
    width:30%;
    position:relative;
    left:91%;
    }

    @media (min-width:481px) and (max-width:510px){
    width:30%;
    position:relative;
    left:90.5%;
    }

    @media (min-width:511px) and (max-width:560px){
    width:30%;
    position:relative;
    left:90.5%;
    }
    }

    & .fas{
    display:flex;
    position:relative;
    bottom:65px;
    left:73%;
    height:12px;
    font-size:12px;
    color:$color-thd;
    background-color:white;
    padding:5px;
    border-radius:50%;
    animation-name:icone;
    animation-duration:500ms;
    animation-delay:100ms;
    animation-fill-mode: forwards;
    opacity:0;

    @media (min-width:330px) and (max-width:378px){
    position:relative;
    left:71%;
    }

    @media (min-width:379px) and (max-width:400px){
    position:relative;
    left:70%;
    }

    @media (min-width:401px) and (max-width:420px){
    position:relative;
    left:70%;
    }

    @media (min-width:421px) and (max-width:431px){
    position:relative;
    left:72%;
    }

    @media (min-width:432px) and (max-width:560px){
    position:relative;
    left:70%;
    }
    }
  }

/*quand on a un container plus haut la marge n'est pas adapté, alors j'ai fait une marge adapté avec le titre*/

  & .progress-1{
  display:flex;

    & .marge-progress{
    width:32%;
    height:76px;
    position:relative;
    left:94%;
    bottom:94px;
    border-radius: 0px 15px 15px 0px;
    transform-origin:right;
    background-color:$color-thd;
    transform:scaleX(1);
  
    @media (min-width:344px) and (max-width:360px){
    position:relative;
    left:92.5%;
    bottom:76px;
    }

    @media (min-width:361px) and (max-width:380px){
    position:relative;
    left:92%;
    bottom:76px;
    }

    @media (min-width:381px) and (max-width:408px){
    position:relative;
    left:91.5%;
    bottom:76px;
    }

    @media (min-width:409px) and (max-width:445px){
    position:relative;
    left:90%;
    bottom:76px;
    }

    @media (min-width:446px) and (max-width:485px){
    position:relative;
    left:89%;
    bottom:76px;
    }

    @media (min-width:486px) and (max-width:560px){
    position:relative;
    left:88.5%;
    bottom:76px;
    }

    }

    & .fas{
    display:flex;
    position:relative;
    bottom:70px;
    left:72%;
    height:12px;
    font-size:12px;
    color:$color-thd;
    background-color:white;
    padding:5px;
    border-radius:50%;
    animation-name:icone;
    animation-duration:500ms;
    animation-delay:100ms;
    animation-fill-mode: forwards;
    opacity:0;

    @media (min-width:344px) and (max-width:560px){
    position:relative;
    bottom:50px;
    }

    @media (min-width:360px) and (max-width:400px){
    position:relative;
    left:70%;
    }

    @media (min-width:401px) and (max-width:439px){
    position:relative;
    left:69%;
    }

    @media (min-width:440px) and (max-width:480px){
    position:relative;
    left:68%;
    }

    @media (min-width:481px) and (max-width:560px){
    position:relative;
    left:67%;
    }
    }
  }

/*quand on a un container plus haut la marge n'est pas adapté, alors j'ai fait une marge adapté avec le paragraphe*/

  & .progress-2{
  display:flex;

    & .marge-progress{
    width:34%;
    height:76px;
    position:relative;
    left:99%;
    bottom:90px;
    border-radius: 0px 15px 15px 0px;
    transform-origin:right;
    background-color:$color-thd;
    transform:scaleX(1);
    }

    & .fas{
    display:flex;
    position:relative;
    bottom:65px;
    left:77%;
    height:12px;
    font-size:12px;
    color:$color-thd;
    background-color:white;
    padding:5px;
    border-radius:50%;
    animation-name:icone;
    animation-duration:500ms;
    animation-delay:100ms;
    animation-fill-mode: forwards;
    opacity:0;
    }
  }
  }
}

/* problème sur un plat, la marge etait trop a droite, aucune raison trouvée*/
.container-2{

  & .progress{

    & .marge-progress{
    transform:scaleX(0);
    transition:transform 400ms;
    }

    & .fas {
    display:none;
    }
  }

   &:hover{
  
  & .price{
  background-color:white;
  -webkit-animation-name:price;
  animation-name:price;
  -webkit-animation-duration:200ms;
  animation-duration:200ms;
  -webkit-animation-delay:30ms;
  animation-delay:30ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  padding-right:10%;

  @media (min-width:400px) and (max-width:560px){
  position:relative;
  right:10%;
  }
  }

  & .extent{
  display:flex;
  background-color:white;
  -webkit-animation-name:price;
  animation-name:extent;
  -webkit-animation-duration:300ms;
  animation-duration:300ms;
  -webkit-animation-delay:60ms;
  animation-delay:60ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;

  @media (min-width:385px) and (max-width:560px){
  display:none;
  }
  }

  & .progress{
  display:flex;

    & .marge-progress{
    width:25%;
    height:70px;
    position:relative;
    left:75%;
    bottom:56px;
    border-radius: 0px 15px 15px 0px;
    transform-origin:right;
    background-color:$color-thd;
    transform:scaleX(1);
    }

    & .fas{
    display:flex;
    position:relative;
    bottom:32px;
    left:58%;
    height:12px;
    font-size:12px;
    color:$color-thd;
    background-color:white;
    padding:5px;
    border-radius:50%;
    animation-name:icone;
    animation-duration:500ms;
    animation-delay:100ms;
    animation-fill-mode: forwards;
    opacity:0;
    }
  }
  }

}