.container{

  & .progress{

    & .marge-progress{
    transform:scaleX(0);
    transition:transform 400ms;
    }

    & .fas {
    display:none;
    }
  }
  

  &:hover{
  
  & .price{
  position:relative;
  right:3%;
  z-index:1001;
  background-color:white;
  -webkit-animation-name:price;
  animation-name:price;
  -webkit-animation-duration:200ms;
  animation-duration:200ms;
  -webkit-animation-delay:30ms;
  animation-delay:30ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;

  @media (min-width:400px) and (max-width:560px){
  position:relative;
  right:7%;
  }

  @media (min-width:561px) and (max-width:1024px){
  position:relative;
  right:5%;
  }

  @media (min-width:1025px) and (max-width:1629px){
  position:relative;
  right:15%;
  }

  @media (min-width:1630px){
  position:relative;
  right:17%;
  }
  }

  & .extent{
  display:flex;
  z-index:1000;
  opacity:0;
  background-color:white;
  -webkit-animation-name:price;
  animation-name:extent;
  -webkit-animation-duration:300ms;
  animation-duration:300ms;
  -webkit-animation-delay:60ms;
  animation-delay:60ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;

  @media (min-width:320px) and (max-width:370px){
  display:flex;
  position:relative;
  right:17%;
  }

  @media (min-width:371px) and (max-width:399px){
  display:flex;
  position:relative;
  right:16%;
  }

  @media (min-width:400px) and (max-width:415px){
  display:flex;
  position:relative;
  right:19%;
  }

  @media (min-width:416px) and (max-width:560px){
  display:none;
  }

  @media (min-width:561px) and (max-width:635px){
  position:relative;
  right:9%;
  top:50px;
  padding-bottom:2px;
  }

  @media (min-width:636px) and (max-width:643px){
  position:relative;
  right:8%;
  top:50px;
  padding-bottom:2px;
  }

  @media (min-width:644px) and (max-width:648px){
  position:relative;
  right:9%;
  top:50px;
  padding-bottom:2px;
  }

  @media (min-width:561px) and (max-width:665px){
  position:relative;
  right:16%;
  top:50px;
  padding-bottom:2px;
  }

  @media (min-width:666px) and (max-width:703px){
  position:relative;
  right:15%;
  top:50px;
  padding-bottom:2px;
  }

   @media (min-width:704px){
  display:none;
  }

  }

  & .extent-1{
  display:flex;
  z-index:1000;
  opacity:0;
  background-color:white;
  -webkit-animation-name:price;
  animation-name:extent;
  -webkit-animation-duration:300ms;
  animation-duration:300ms;
  -webkit-animation-delay:60ms;
  animation-delay:60ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;

  @media (min-width:396px) and (max-width:560px){
  display:none;
  }

  @media (min-width:561px) and (max-width:729px){
  position:relative;
  right:5%;
  top:50px;
  padding-bottom:2px;
  }

   @media (min-width:730px){
  display:none;
  }

  }

  & .progress{
  display:flex;

    & .marge-progress{
    z-index:1002;
    width:30%;
    height:81px;
    position:relative;
    left:88%;
    bottom:87px;
    border-radius: 0px 15px 15px 0px;
    transform-origin:right;
    background-color:$color-thd;
    transform:scaleX(1);

    @media (min-width:330px) and (max-width:360px){
    width:30%;
    height:80px;
    position:relative;
    bottom:87px;
    }

    @media (min-width:361px) and (max-width:400px){
    width:28.5%;
    height:80px;
    position:relative;
    bottom:87px;
    }

    @media (min-width:401px) and (max-width:440px){
    width:27.5%;
    height:80px;
    position:relative;
    bottom:87px;
    }

    @media (min-width:441px) and (max-width:500px){
    width:26.5%;
    height:80px;
    position:relative;
    bottom:87px;
    }
    
    @media (min-width:501px) and (max-width:560px){
    width:25%;
    height:80px;
    position:relative;
    bottom:87px;
    }

    @media (min-width:561px) and (max-width:660px){
    width:26%;
    height:81px;
    position:relative;
    bottom:96px;
    left:89%;
    }

    @media (min-width:661px) and (max-width:760px){
    width:24.5%;
    height:81px;
    position:relative;
    bottom:96px;
    left:89%;
    }

    @media (min-width:761px) and (max-width:860px){
    width:23%;
    height:81px;
    position:relative;
    bottom:96px;
    left:90%;
    }

    @media (min-width:861px) and (max-width:960px){
    width:22%;
    height:81px;
    position:relative;
    bottom:96px;
    left:90%;
    }

    @media (min-width:961px) and (max-width:1024px){
    width:21%;
    height:81px;
    position:relative;
    bottom:96px;
    left:91%;
    }

    @media (min-width:1025px) and (max-width:1224px){
    width:20%;
    height:90px;
    position:relative;
    bottom:102px;
    left:91%;
    }

    @media (min-width:1225px){
    width:19%;
    height:90px;
    position:relative;
    bottom:102px;
    left:91%;
    }
    }

    & .fas{
    z-index:1003;
    display:flex;
    position:relative;
    bottom:60px;
    left:68%;
    height:12px;
    font-size:12px;
    color:$color-thd;
    background-color:white;
    padding:5px;
    border-radius:50%;
    animation-name:icone;
    animation-duration:500ms;
    animation-delay:100ms;
    animation-fill-mode: forwards;
    opacity:0;

    @media (min-width:400px) and (max-width:560px){
    position:relative;
    bottom:60px;
    left:70%;
    }

    @media (min-width:561px) and (max-width:700px){
    position:relative;
    bottom:70px;
    left:73%;
    }

    @media (min-width:701px) and (max-width:960px){
    position:relative;
    bottom:70px;
    left:74%;
    }

    @media (min-width:961px) and (max-width:1024px){
    position:relative;
    bottom:70px;
    left:77%;
    }

    @media (min-width:1025px) {
    position:relative;
    bottom:70px;
    left:79%;
    }
    }
  }
}
}

@keyframes icone{

0%{
opacity:0;
transform: translateX(40px) rotate(-360deg);
  }

100%{
transform: translateX(0px);
opacity:1;
}
}

@keyframes price{

0%{
-webkit-transform:translate(0px,0px);
-ms-transform:translate(0px,0px);
transform:translate(0px,0px);
}
100%{
-webkit-transform:translate(-60px,0px);
-ms-transform:translate(-60px,0px);
transform:translate(-60px,0px);
}
}

@keyframes extent{

0%{
opacity:0;
-webkit-transform:translate(0px,0px);
-ms-transform:translate(0px,0px);
transform:translate(0px,0px);
}
70%{
opacity:0;
}
100%{
opacity:1;
-webkit-transform:translate(-60px,0px);
-ms-transform:translate(-60px,0px);
transform:translate(-60px,0px);
}

}

