.ape{

& i{
	color:transparent;
	background-color:transparent;
}

&:hover{

  & .box{
    position:relative; 
    left:260px;
    bottom:51px;
    margin-right:0px;
    height:55px;
    width:20%;
    background-color:$color-thd;
    border-radius: 0px 15px  15px 0px;
    margin-bottom:15px;
    padding-top:10px;
    animation-name:box;
	animation-duration:700ms;
	animation-delay:50ms;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
    opacity:0;
    }
  
  & i{
    position:relative;
    left:30%;
    top:20%;
    font-size:12px;
    color:$color-thd;
    background-color:white;
    padding:5px;
    border-radius:50%;
    animation-name:icone;
	animation-duration:500ms;
	animation-delay:200ms;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
    opacity:0;
    }

    & .price{
    animation-name:price;
	animation-duration:470ms;
	animation-delay:50ms;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
    }
}
}

@keyframes box{

0%{
   opacity:0;
   transform:translateX(50px);
   }

50%{
	opacity:1;
}   

100%{
   opacity:1;

   }
}


@keyframes icone{

0%{
   opacity:0;
   transform:rotate(-360deg);
   }

50%{
	opacity:1;
}   

100%{
    
    opacity:1;
}
}


@keyframes price{

0%{

	transform:translate(0px,0px);
}

100%{
	
	transform:translate(-60px,0px);
}

}
	
