section{

i{
    font-size:22px;
    border: none;
    background:white;
}

.fa-heart {
    color: #FFF;
    color: grey;
}
.fa-heart::before {
    content: "\f004";
    font-weight: normal;
    -webkit-transition: color 1s ease-out;
    -o-transition: color 1s ease-out;
    transition: color 1s ease-out;
}
.fa-heart:hover::before{
    font-weight:bold;
     background: -webkit-gradient(linear, left bottom, left top, from($color-scd), to($color-prim));
    background: -o-linear-gradient(bottom, $color-scd, $color-prim);
    background: linear-gradient(to top, $color-scd, $color-prim);
    
    -webkit-background-clip: text;
    color: transparent;
    cursor:pointer;
}

}
