section{

i{
    height:22px;
    position:relative;
    left:250px;
    bottom:50px;
    font-size:22px;
    border: none;
    background:white;

}

.fa-heart {
    color: #FFF;
    background-color: white;
    color: grey;
}
.fa-heart::before {
    content: "\f004";
    font-weight: normal;
    transition: color 1s ease-out;
}
.fa-heart:hover::before{
    font-weight:bold;
    color: $color-prim;
    cursor:pointer;
}

}
