.loader{
	width:95%;
	height:100%;
	position:absolute;
	padding-top:200px;
	padding-bottom:200px;
	}

.custom-loader{ 
    cursor:progress;
    position:absolute;
    background: radial-gradient(closest-side, #99E2D0, #9356DC, #fff);
}


.custom-loader{
    border: 10px solid #9356DC;
    border-top:10px solid #FF79DA;
    border-image:linear-gradient(#9356DC,#FF79DA)30;
    width:50px;
    height:50px;
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 1;
    animation-name: custom-loader1;
    animation-duration: 10s;
    animation-fill-mode:forwards;
}


@keyframes custom-loader1 {
    0% {
    transform: rotate( 0deg ) scale( 1 );
    opacity: 1;
    }

    10% {
    transform: rotate( 15deg ) scale( 1 );
    opacity: 1;
    }

    50% {
    transform: rotate( -180deg ) scale( 1.4 );
    opacity: 1;
    }
    
    100% {
    opacity: 0;
    transform: rotate( -360deg ) scale( 1 );
    }
  }
body{
	opacity: 0;
	animation-name:body;
	animation-duration: 5s;
    animation-delay: 1s;
    animation-fill-mode:forwards;
	}
@keyframes body {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }





