.apetizer{
    .container{
	-webkit-animation-name:defil;
	        animation-name:defil;
	-webkit-animation-duration:2000ms;
	        animation-duration:2000ms;
	-webkit-animation-delay:100ms;
	        animation-delay:100ms;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
	opacity:0;
	}

	.container-1{
	-webkit-animation-name:defil;
	        animation-name:defil;
	-webkit-animation-duration:2000ms;
	        animation-duration:2000ms;
	-webkit-animation-delay:100ms;
	        animation-delay:100ms;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
	opacity:0;
	}

	.container-2{
	-webkit-animation-name:defil;
	        animation-name:defil;
	-webkit-animation-duration:2000ms;
	        animation-duration:2000ms;
	-webkit-animation-delay:100ms;
	        animation-delay:100ms;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
	opacity:0;
	}
}

.plat{
	.container{
	-webkit-animation-name:defil;
	        animation-name:defil;
	-webkit-animation-duration:2000ms;
	        animation-duration:2000ms;
	-webkit-animation-delay:2100ms;
	        animation-delay:2100ms;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
	opacity:0;
	}

	.container-1{
	-webkit-animation-name:defil;
	        animation-name:defil;
	-webkit-animation-duration:2000ms;
	        animation-duration:2000ms;
	-webkit-animation-delay:2100ms;
	        animation-delay:2100ms;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
	opacity:0;
	}

	.container-2{
	-webkit-animation-name:defil;
	        animation-name:defil;
	-webkit-animation-duration:2000ms;
	        animation-duration:2000ms;
	-webkit-animation-delay:2100ms;
	        animation-delay:2100ms;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
	opacity:0;
	}
}

.dessert{
	.container{
	-webkit-animation-name:defil;
	        animation-name:defil;
	-webkit-animation-duration:2000ms;
	        animation-duration:2000ms;
	-webkit-animation-delay:4100ms;
	        animation-delay:4100ms;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
	opacity:0;
	}

	.container-1{
	-webkit-animation-name:defil;
	        animation-name:defil;
	-webkit-animation-duration:2000ms;
	        animation-duration:2000ms;
	-webkit-animation-delay:4100ms;
	        animation-delay:4100ms;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
	opacity:0;
	}

	.container-2{
	-webkit-animation-name:defil;
	        animation-name:defil;
	-webkit-animation-duration:2000ms;
	        animation-duration:2000ms;
	-webkit-animation-delay:4100ms;
	        animation-delay:4100ms;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
	opacity:0;
	}

}

@keyframes defil{
	0%{
	opacity:0;
	-webkit-transform:translateY(-40px);
	        transform:translateY(-40px);
	}

	50%{
	opacity:0;
	}

	95%{
	opacity:0.5;
	}
	
	100%{
	opacity:1;
	-webkit-transform:translatY(0px);
	        transform:translatY(0px);
	}
}