.apetizer{
    .ape{
	animation-name:defil;
	animation-duration:2000ms;
	animation-delay:100ms;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
	opacity:0;
	}
}

.plat{
	.ape{
	animation-name:defil;
	animation-duration:2000ms;
	animation-delay:2100ms;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
	opacity:0;
	}

	.ape-1{
	animation-name:defil;
	animation-duration:2000ms;
	animation-delay:2100ms;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
	opacity:0;
	}
}

.dessert{
	.ape{
	animation-name:defil;
	animation-duration:2000ms;
	animation-delay:4100ms;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
	opacity:0;
	}

	.ape-1{
	animation-name:defil;
	animation-duration:2000ms;
	animation-delay:4100ms;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
	opacity:0;
	}
}

@keyframes defil{
	0%{
	opacity:0;
	transform:translateY(-40px);
	}

	50%{
	opacity:0;
	}

	95%{
	opacity:0.5;
	}
	
	100%{
	opacity:1;
	transform:translatY(0px);
	}
}