.btn{
	font-size:15px;
	padding:15px;
	margin:20px;
	border-radius: 25px 25px 25px 25px;
	background-image: linear-gradient(-80deg, $color-scd, $color-prim);
	background-image:-o-linear-gradient(-80deg, $color-scd, $color-prim);
	background-image:-webkit-linear-gradient(-80deg, $color-scd, $color-prim);
	background-image:-moz-linear-gradient(-80deg, $color-scd, $color-prim);
    border:none;
	color:white;
	box-shadow: $shadow;
	transition:transform 400ms;
	transform: scale(1);
	opacity:1;

	@media (min-width:561px) and (max-width:1024px){
   height:60px;
   font-size:20px;
   }

   @media (min-width:1025px){
   height:60px;
   font-size:20px;
   }
	
	&:hover{
	transform: scale(1.15);
    opacity:0.8;
    box-shadow: -1px 5px 5px 3px #c2c2c2;
	}
	}
	