body{
margin:0px;
}

form{
width: 100%;
height:50px;
background-color:#e9eaec;
text-align:center;
-webkit-box-shadow: inset 5px 15px 5px -12px #cdcdcf;
box-shadow: inset 5px 15px 5px -12px #cdcdcf;

    & input{
	border:none;
	background-color:#e9eaec;
	height:30px;
	position:relative;
	top:10px;
	left:20px;
	padding-left:10px;
	font-weight:bold;
	font-size:16px;
	font-family:Roboto;
	}

	& i{
	position:relative;
	top:8px;
	left:20px;
	}
}

.intro {
width:100%;
font-family:Roboto;
text-align:center;
background-color:$back-clr;
padding-top:15px;
padding-bottom:40px;
margin-bottom:40px;

	& h1{
	font-size:25px;
	margin:20px 20px 20px 20px;
	}

	& p{
	margin:10px 10px 10px 10px;
	}
}


.funct{
padding-bottom:40px;

 @media (min-width:1025px){
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-orient:horizontal;
 -webkit-box-direction:normal;
     -ms-flex-direction:row;
         flex-direction:row;
 -ms-flex-wrap:wrap;
     flex-wrap:wrap;
 -ms-flex-pack:distribute;
     justify-content:space-around;
 }
        
    & h2{
    padding-left:20px;
    font-family: Roboto;
    font-size: 25px;

    @media (min-width:1025px){
    width:100%;

    }
    }
}

.step{
width: 95%;
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;

 @media (min-width:1025px){
 width:30%;
 margin-top:15px;
 margin-bottom:20px;
 }

	& .number{
	background-color: $color-prim;
	height:17px;
    width:17px;
    border-radius:50%;
	position:relative;
	top:22px;
	left:9px;
	font-family:Roboto;
	color:white;
	font-size:15px;
    text-indent:3px;

    @media (min-width:561px)and(max-width:1024px){
    margin-left:20%;
    width:22px;
    height:20px;
    padding-top:2px;
    padding-left:1px;
    }
	}
}

.link{
    width: 100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    & :hover{
    background-color:lighten($color-prim,30%);
    }

    & :hover i{
    color:$color-prim;
    }

	& a{
	width:90%;
	text-decoration:none;
	color:black;
	font-family:Roboto;
	font-weight:bold;
	background-color:$back-clr;
    margin-bottom:20px;
    padding-left:15%; 
    padding-top:25px;
    padding-bottom:25px;
    border-radius:20px 20px 20px 20px;
    -webkit-box-shadow:$shadow;
    box-shadow:$shadow;

    @media (min-width:561px)and(max-width:1024px){
    width:70%;
    padding-left:20%;
    font-size:20px;
    }

    }

    & i{
    color:grey;
    padding-right:5%;

    @media (min-width:561px)and(max-width:1024px){
    padding-right:10%;
    }
    }
}

section{
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-orient:vertical;
-webkit-box-direction:normal;
    -ms-flex-direction:column;
        flex-direction:column;
background-color:$back-clr;
width:100%;


    & h2{
	font-family: Roboto;
    font-size: 25px;
    margin-left:20px;
    margin:0;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:20px;
	}

	& .vignets{
    background-color:white;
    border-radius:10px 10px 10px 10px;
    -webkit-box-shadow:$shadow;
    box-shadow:$shadow;
    width:90%;
    height:220px;
    margin-left:5%;

    @media (min-width:561px)and(max-width:1024px){
    width:80%;
    height: 300px;
    margin-left:10%;
    }

    @media (min-width:1025px){
    width:80%;
    height:350px;
    margin-left:10%;
     }
   
        & img{
        width:100%;
        height:150px;
        border-radius:10px 10px 0px 0px;
        -o-object-fit:cover;
        object-fit:cover;

        @media (min-width:561px)and(max-width:1024px){
        height:200px;
        }

        @media (min-width:1025px){
        height:250px;
        }
        }

        & em{
        width:70%;
        padding:0px;
        margin:0px;
        font-style:normal;
        float:left;
        padding-left:10px;
        padding-top:15px;

        @media (min-width:561px)and(max-width:1024px){
        font-size:18px;
        }
        }

        & span{
        position:relative;
        bottom:20px;
        }

        & .rest{
        text-decoration:none;
        color:black;
        font-family:Roboto;
        }

}

& .new{
color:darken($color-thd,40%);
font-family:Roboto;
font-size:15px;
font-weight:bold;
background-color:$color-thd;
width:55px;
padding-top:5px;
padding-bottom:5px;
padding-left:5px;
padding-right:12px;
margin-left:6%;
position:relative;
left:65%;
top:40px;

@media (min-width:561px)and(max-width:1024px){
margin-left:10%;
}

@media (min-width:1025px){
margin-left:15%;   
}
}

i{
position:relative;
left:80%;
bottom:50px;
}

.fa-heart {
font-size:27px;
width:15%;
background-color: transparent;
}


}






	