body{
  margin:0px;

  & a{
  color:black;
  
  & :hover{
  color:$color-scd;
  }
  }
}

section{
display:flex;

  & img{
   position:absolute;
   width:100%;
   height:230px;
   margin:0;
   object-fit:cover;
   z-index:-10;
   }


  & h1{
  width:100%;
  background-color:$back-clr;
  font-family: Shrikhand;
  margin-top:200px;
  margin-bottom:0px;
  padding-left:15px;
  padding-top:30px;
  padding-bottom:20px;
  font-size:27px;
  border-radius:35px 35px 0px 0px;
  z-index:1;
    
      & i{
      font-size:27px;
      float:right;
      padding-right:20px;
      }

      & .fa-heart {
      background-color: $back-clr;
      }
    }
  }


.fa-arrow-left{
   position: relative;
   bottom:40px;
   font-size:18px;
   padding-left:20px;
   }

.menu{
display:flex;
flex-direction:column;
justify-content:space-between;
background-color:$back-clr;
font-family:Roboto;

  & h2{
  position:relative;
  left:20px;
  width:15%;
  font-weight:normal;
  font-size:18px;
  border-bottom: 3px solid $color-thd;
  padding-top:10px;
  padding-bottom:5px;
  }

   & .ape{
   width:92%;
   height:65px;
   background-color:white;
   margin-bottom:15px;
   padding-left:10px;
   border-radius:15px;
   box-shadow:$shadow;
   margin-left:10px;
  
   & h4{
   font-weight:bold;
   font-size:15px;
   margin:0px;
   padding-top:10px;
   }

   & span{
   font-size:14px;
   position:relative;
   bottom:10px;
   }

   & .price2{
   font-weight:bold;
   font-size:14px;
   float:right;
   padding-right:10px;
   padding-left:15px;
   position:relative;
   right:10px;
   bottom:15px;
   }
   

   & .price1{
   font-weight:bold;
   font-size:14px;
   float:right;
   padding-right:10px;
   padding-left:15px;
   position:relative;
   right:10px;
   bottom:15px;
   }
   
   & .price{
   height:25px;
   font-weight:bold;
   font-size:14px;
   float:right;
   padding-right:10px;
   padding-left:15px;
   position:relative;
   bottom:15px;
   }
   }
}


.commander{
  text-align:center;
  background-color:$back-clr;
  padding-top:20px;
  padding-bottom:60px;

  & .btn{
  width:50%;
  }
}

.plat{

  & .ape-1{
   width:92%;
   height:75px;
   background-color:white;
   margin-bottom:15px;
   padding-left:10px;
   border-radius:15px;
   box-shadow:$shadow;
   margin-left:10px;
  
  & h4{
   font-weight:bold;
   font-size:15px;
   margin:0px;
   padding-top:10px;
   }

   & span{
   font-size:14px;
   position:relative;
   bottom:15px;
   }

   & .price{
   height:23px;
   font-weight:bold;
   font-size:14px;
   float:right;
   padding-right:10px;
   padding-left:5px;
   position:relative;
   bottom:25px;
   }
   }
}

.dessert{

  & .ape-1{
   width:92%;
   height:75px;
   background-color:white;
   margin-bottom:15px;
   padding-left:10px;
   border-radius:15px;
   box-shadow:$shadow;
   margin-left:10px;
  
  & h4{
   font-weight:bold;
   font-size:15px;
   margin:0px;
   padding-top:10px;
   }

   & span{
   font-size:14px;
   position:relative;
   bottom:15px;
   }

   & .price{
   height:23px;
   font-weight:bold;
   font-size:14px;
   float:right;
   padding-right:10px;
   padding-left:5px;
   position:relative;
   bottom:25px;
   }
   }
}