@font-face{
       font-family:Shrikhand;
	   src: url('police/Shrikhand-Regular.ttf') format('Truetype');
	   src: url('police/Shrikhand-Regular.otf') format('OpenType');
	   font-weight:300;
	   font-style:normal;
}



@font-face{
	font-family:Roboto;
	src: url('police/Roboto-Regular.ttf') format('Truetype');
	font-weight:normal;
	font-style:normal;
}